body {
    background-color: rgb(109, 250, 255);
    height: 100vh;    
}
nav {
    list-style: none;
    width: 100vw;
}
ul{
    list-style: none;
  }
nav li {
    display: inline-flex;
    text-decoration: none;
    width: 100px;
}

#login img {
    height: 100px;
}

#mainDiv {
    height: 100vh;
}

.alignTop{
    align-self: flex-start;
}

.alignBot{
    align-self: flex-end;
}

main {
    display: flex;
    align-items:center;
    justify-content: center;
    height: 90vh;
    margin: 0 auto;
}

html {
	margin: 0;
	padding: 0;
    }
    
body { 
	font-family: 'Lucida Grande', 'Helvetica Neue', sans-serif;
	line-height: 1.88889;
	color: #555753; 
	background: #fff no-repeat bottom right; 
	margin: 0; 
	padding: 0;
	}

<<<<<<< HEAD
/* .palace-list-div{
    text-align: center;
} */
=======

>>>>>>> 9edfae3c25e3d52cd0896ff8240fdb323c809636
/* INDIVIDUAL Palace List */
.list-item-header{
    font-size: large;
    font-weight: 100;
  }
  .list-item-header-grid{
    display: grid;
    grid-template-columns: 35% 65%;
  }
  .palace-li-grid{
    display: grid;
    grid-template-columns: 35% 65%;
  }
  .palace-li{
    min-width: 100%;
    background-color: inherit;
  }

  .name{
    width: 100%;
    padding-left: 2%;
    padding-right: 10%;
    padding-bottom: 8px;
    background-color: inherit;
  }
  .description{
  background-color: inherit;
  }